# 📄 Dosya Yolu: /NopCommerce/current/installer/config/installer.env.example
# 📌 Amac: nopCommerce installer icin merkezi ve degistirilebilir konfigurasyonu tanimlamak
# 📌 Modul - Env
# Version: 1.5.0
# Aciklama: Native/Docker uygulama, DB ve opsiyonel Let's Encrypt TLS davranisini merkezi olarak yoneten config
# Bagimli Oldugu Katman: Service | Repo | Tool

NOP_DEFAULT_VERSION="latest"
NOP_RELEASE_API_BASE="https://api.github.com/repos/nopSolutions/nopCommerce/releases/tags"
NOP_RELEASE_TAG_FORMAT="release-%s"
NOP_PACKAGE_NAME_FORMAT="nopCommerce_%s_NoSource_linux_x64.zip"
NOP_PACKAGE_SHA256_OVERRIDE=""
NOP_ALLOW_LEGACY_WITHOUT_SHA256="1"

NOP_INSTALL_ROOT="/opt/nopcommerce"
NOP_RELEASES_DIR="/opt/nopcommerce/releases"
NOP_CURRENT_DIR="/opt/nopcommerce/current"
NOP_BACKUP_DIR="/opt/nopcommerce/backups"
NOP_TEMP_DIR="/tmp/nopcommerce-installer"

NOP_APP_MODE="native"

NOP_SERVICE_NAME="nopcommerce"
NOP_SERVICE_USER="nopcommerce"
NOP_SERVICE_GROUP="nopcommerce"
NOP_ASPNETCORE_URLS="http://127.0.0.1:5000"

NOP_PUBLIC_HOST="_"
NOP_NGINX_SITE_AVAILABLE="/etc/nginx/sites-available/nopcommerce.conf"
NOP_NGINX_SITE_ENABLED="/etc/nginx/sites-enabled/nopcommerce.conf"
NOP_DEFAULT_NGINX_SITE="/etc/nginx/sites-enabled/default"
NOP_DISABLE_DEFAULT_NGINX_SITE="1"

NOP_SYSTEMD_UNIT="/etc/systemd/system/nopcommerce.service"

NOP_DOTNET_ROOT="/opt/dotnet"
NOP_DOTNET_EXECUTABLE="/opt/dotnet/dotnet"
NOP_DOTNET_SYMLINK="/usr/local/bin/dotnet"
NOP_DOTNET_INSTALL_SCRIPT_URL="https://dot.net/v1/dotnet-install.sh"
NOP_DOTNET_RUNTIME_KIND="aspnetcore"

NOP_TLS_MODE="off"
NOP_TLS_DOMAIN=""
NOP_TLS_EMAIL=""
NOP_TLS_STAGING="0"
NOP_TLS_NATIVE_CERTBOT_EXECUTABLE="certbot"
NOP_TLS_CERTBOT_IMAGE="certbot/certbot:v5.8.0"
NOP_TLS_NATIVE_CERT_ROOT="/etc/letsencrypt"
NOP_TLS_NATIVE_WEBROOT="/var/lib/nopcommerce/acme"
NOP_TLS_DOCKER_CERT_ROOT="/opt/nopcommerce/docker/tls/letsencrypt"
NOP_TLS_DOCKER_WEBROOT="/opt/nopcommerce/docker/tls/webroot"
NOP_TLS_DOCKER_NGINX_CERT_ROOT="/etc/letsencrypt"
NOP_TLS_DOCKER_NGINX_WEBROOT="/var/www/certbot"
NOP_TLS_DOCKER_CERTBOT_CERT_ROOT="/etc/letsencrypt"
NOP_TLS_DOCKER_CERTBOT_WEBROOT="/var/www/certbot"
NOP_TLS_DEPLOY_HOOK="/usr/local/sbin/nopcommerce-tls-deploy-hook"
NOP_TLS_RENEW_SCRIPT="/usr/local/sbin/nopcommerce-tls-renew"
NOP_TLS_RENEW_SERVICE="/etc/systemd/system/nopcommerce-certbot-renew.service"
NOP_TLS_RENEW_TIMER="/etc/systemd/system/nopcommerce-certbot-renew.timer"
NOP_TLS_RENEW_ON_CALENDAR="*-*-* 03,15:00:00"
NOP_TLS_RENEW_RANDOM_DELAY_SEC="3600"

NOP_DB_PROVIDER="web"
NOP_DB_MODE="external"
NOP_DB_SECRET_FILE="/etc/nopcommerce-db.secret.env"
NOP_DB_SECRET_REQUIRE_PRIVATE="1"
NOP_DB_SETTINGS_RELATIVE_PATH="App_Data/dataSettings.json"
NOP_DB_SETTINGS_FILE_MODE="600"

NOP_DB_NAME="nopcommerce"
NOP_DB_USER="nopcommerce"
NOP_DB_DOCKER_BIND_HOST="127.0.0.1"
NOP_DB_DOCKER_MYSQL_PORT="3306"
NOP_DB_DOCKER_POSTGRESQL_PORT="5432"
NOP_DB_DOCKER_MYSQL_INTERNAL_PORT="3306"
NOP_DB_DOCKER_POSTGRESQL_INTERNAL_PORT="5432"
NOP_DB_DOCKER_MYSQL_IMAGE="mysql:8.4"
NOP_DB_DOCKER_POSTGRESQL_IMAGE="postgres:17"
NOP_DB_DOCKER_CONTAINER_PREFIX="nopcommerce"
NOP_DB_DOCKER_VOLUME_PREFIX="nopcommerce"
NOP_DB_DOCKER_START_TIMEOUT="120"

NOP_DOCKER_EXECUTABLE="docker"
NOP_DOCKER_STACK_PROJECT="nopcommerce"
NOP_DOCKER_STACK_ROOT="/opt/nopcommerce/docker"
NOP_DOCKER_STACK_PERSIST_ROOT="/opt/nopcommerce/docker/persist"
NOP_DOCKER_STACK_COMPOSE_FILE="/opt/nopcommerce/docker/docker-compose.yml"
NOP_DOCKER_STACK_NGINX_CONFIG="/opt/nopcommerce/docker/nginx.conf"
NOP_DOCKER_STACK_DOCKERFILE_RELATIVE=".installer-docker/Dockerfile"
NOP_DOCKER_STACK_DOCKERIGNORE_RELATIVE=".dockerignore"
NOP_DOCKER_STACK_APP_IMAGE="nopcommerce-local"
NOP_DOCKER_STACK_NGINX_IMAGE="nginx:1.30.5-alpine"
NOP_DOCKER_STACK_APP_SERVICE="app"
NOP_DOCKER_STACK_DATABASE_SERVICE="database"
NOP_DOCKER_STACK_NGINX_SERVICE="nginx"
NOP_DOCKER_STACK_APP_PORT="80"
NOP_DOCKER_STACK_HTTP_BIND_HOST="0.0.0.0"
NOP_DOCKER_STACK_HTTP_PORT="80"
NOP_DOCKER_STACK_HTTPS_BIND_HOST="0.0.0.0"
NOP_DOCKER_STACK_HTTPS_PORT="443"
NOP_DOCKER_STACK_PERSIST_PATHS="App_Data:Plugins:logs:wwwroot/bundles:wwwroot/db_backups:wwwroot/files/exportimport:wwwroot/icons:wwwroot/images:wwwroot/sitemaps"

NOP_SUPPORTED_OS="ubuntu:debian"
NOP_OS_RELEASE_FILE="/etc/os-release"
NOP_NOLOGIN_SHELL="/usr/sbin/nologin"
NOP_APT_BASE_PACKAGES="ca-certificates curl unzip jq"
NOP_APT_NATIVE_PACKAGES="nginx libgdiplus tzdata libicu-dev"
NOP_APT_TLS_PACKAGES="certbot"

NOP_WRITABLE_PATHS="App_Data:App_Data/DataProtectionKeys:bin:logs:Plugins:wwwroot/bundles:wwwroot/db_backups:wwwroot/files/exportimport:wwwroot/icons:wwwroot/images:wwwroot/images/thumbs:wwwroot/images/uploaded:wwwroot/sitemaps"
