///////////////////////////////////////////////////////
// +-----------------------------------------------+ //
// ¦ Electronic Sports League GUI		   ¦ //
// ¦ 						   ¦ //
// ¦ http://www.esl.eu/                            ¦ //
// ¦ 						   ¦ //
// ¦ VERSION: 1.15.3 (2009-12-09) - r99t           ¦ //
// +-----------------------------------------------+ //
///////////////////////////////////////////////////////
// +-----------------+
// ¦ default aliases ¦---------------------------------
// +-----------------+

alias _wait02 			"wait; wait"
alias _wait03 			"_wait02; _wait"
alias _wait04 			"_wait02; _wait02"
alias _wait05 			"_wait03; _wait02"
alias _wait09 			"_wait05; _wait04"
alias _wait10 			"_wait05; _wait05"
alias _wait20 			"_wait10; _wait10"
alias _wait30 			"_wait20; _wait10"
alias _wait40			"_wait20; _wait20"
alias _wait50 			"_wait30; _wait20"
alias _wait60			"_wait30; _wait30"
alias _wait90 			"_wait50; _wait40"
alias _wait100 			"_wait50; _wait50"
alias _wait120			"_wait60; _wait60"

alias _cfgversion 		"say [ Electronic Sports League GUI 1.15.3 ]"

alias _screenshot		"weapon_knife; _wait20; snapshot; _wait20; lastinv"
alias _scoreboard 		"+showscores; _wait50; snapshot; _wait50; -showscores"
alias _statusscreen 		"_wait10; toggleconsole; _wait20; clear; _wait50; status; _wait50; snapshot; _wait50; toggleconsole; cancelselect; _wait02; cancelselect"
alias _rconstatusscreen 	"_wait10; toggleconsole; _wait20; clear; _wait50; rcon status; _wait50; snapshot; _wait50; toggleconsole; cancelselect; _wait02; cancelselect"  
alias _stopsave			"+showscores; _wait30; snapshot; _wait10; stop; -showscores; say_team Demo beendet & gespeichert!"
alias cfgcheck			"ex_interp; rate; cl_updaterate; cl_cmdrate; bind mwheeldown; bind mwheelup"

alias _slot1			"weapon_ump45; weapon_xm1014; weapon_m3; weapon_famas; weapon_galil; weapon_sg552; weapon_aug; weapon_tmp; weapon_mac10; weapon_ak47; weapon_scout; weapon_awp; weapon_g3sg1; weapon_sg550; weapon_mp5navy; weapon_m4a1; weapon_m249; weapon_p90"
alias _slot2			"weapon_usp; weapon_glock18; weapon_deagle; weapon_p228; weapon_elite; weapon_fiveseven"

// +------------+
// ¦ buyaliases ¦------------------------------------------------
// +------------+

alias _buy_bestarmor		"vesthelm; vest"
alias _buy_fn57dual 		"fn57; elites"
alias _buy_tmpmac10 		"tmp; mac10"
alias _buy_famgal 		"famas; galil"
alias _buy_m4ak 		"m4a1; ak47"
alias _buy_augsg 		"aug; sg552"
alias _buy_sg550g3 		"sg550; g3sg1"
alias _buy_allnades 		"hegren; flash; flash; sgren"
alias _buy_all			"primammo; secammo; _buy_allnades; defuser; _buy_bestarmor"

// +--------+
// ¦ console¦----------------------------------------------------
// +--------+
exec netsettings.cfg
clear
echo 				"+-------------------------------------+"
echo				"|   Electronic Sports League GUI   |"
echo				"+-------------------------------------+"
echo				" "
echo				"  12/09/2009 - http://www.esl.eu"
echo				" "
echo 				"+-------------------------------------+"
echo				"|              BRING IT ON!              |"
echo				"+-------------------------------------+"
echo				" " 