#####################################################################################
### Map Name Section:                                                             ###
### Only change the map filename for map_path and map_localpath                   ###
### then ensure the same map that you list here is wherever your maps folder is   ###
### (bot_mappath in ghost.cfg, usually the maps\ folder in the GHost folder)      ###
### Examples:                                                                     ###
### map_path = Maps\Download\DotA v6.85k Allstars.w3x                             ###
### map_localpath = DotA v6.85k Allstars.w3x                                      ###
#####################################################################################

# the map path tells Warcraft III clients where to find the map on their system
# it is NOT the path to the map on the GHost++ system, in fact GHost++ doesn't require the map at all
# this path should NOT start with a slash (e.g. "\Maps\..." because it will make any replays saved by GHost unplayable)

map_path = Maps\Download\DotA_Allstars_6.88x7c.w3x


# map local path (for map downloads and automatic map value calculation)
#  GHost++ doesn't require map files but if it has access to them it can send them to players
#  it can also automatically calculate map values such as map_size, map_info, map_crc, map_sha1, etc...
#  GHost++ will search bot_mappath + map_localpath for the map file (bot_mappath is set in the main config file)

map_localpath = DotA_Allstars_6.88x7c.w3x

# Visit http://d1stats.ru/configdota/ for details
[HOTKEYS]

#You can use Alt, Shift and Ctrl modifiers like "ShiftQ" for Shift+Q or "CtrlW" for Ctrl+W. Leave empty if you don't want to use them.
#Binded keys are active in menus and able to override WC3 hotkeys
#You can chose special hotkeys from the list here https://msdn.microsoft.com/en-us/library/windows/desktop/dd375731(v=vs.85).aspx
#To use special hotkeys enter them as 0x (hex representation), f.i. 0x70 for F1, 0x71 for F2, shift0x71 for Shift+F2, and so on
#Skill slots 5 and 6 - the one in the middle above normal skills
#Command panel
SkillSlot1 = 0x51
SkillSlot2 = 0x57
SkillSlot3 = 0x45
SkillSlot4 = 0x52

#SkillSlot5 can also be used to learn "Attribute bonus" inside hero skills menu
SkillSlot5 = 
SkillSlot6 = 

#Quick Cast - instantly applies the spell to the target under cursor
QuickCastSlot1 = 
QuickCastSlot2 = 
QuickCastSlot3 = 
QuickCastSlot4 = 
QuickCastSlot5 = 
QuickCastSlot6 = 
QuickCastInventorySlot1 = 
QuickCastInventorySlot2 = 
QuickCastInventorySlot3 = 
QuickCastInventorySlot4 = 
QuickCastInventorySlot5 = 
QuickCastInventorySlot6 = 

#Autocasts
ASkillSlot1 = 
ASkillSlot2 = 
ASkillSlot3 = 
ASkillSlot4 = 
ASkillSlot5 = 
ASkillSlot6 = 

#Full panel rebinding
#Use this in case if you wanna rebind default buttons
BindMove = 
BindStop = 
BindHold = 
BindPatrol = 
BindAttack = 
BindOpenHeroSkills = 

#Hotkeys for buttons located in the cells of Move, Stop, Hold & Patrol (1,2,3,5 respectively)
ExtraSlot1 = 
ExtraSlot2 = 
ExtraSlot3 = 
ExtraSlot5 = 

#Inventory
#Items declaration goes as 1, 2 for the top row, 3, 4 for the middle row, and 5, 6 for the bottom row
ItemSlot1 = 
ItemSlot2 = 
ItemSlot3 = 
ItemSlot4 = 
ItemSlot5 = 
ItemSlot6 = 

#HUD
DisplayScoreboard = 

#Shops
ShopsQWERTY = false

#Selection related hotkeys
SelectAllUnits = 
SelectAllOtherUnits = 
SelectBestCourier = 
SelectCircleOfPower = 

#Allows to control all available units at once by issuing order while holding the hotkey
OrderToAllControlledUnitsHotkey = 

#Other
#Display neutral spawn (block) rectangle, can only use single key (no combinations allowed), space or F1-F12, 0x12 for Alt.
DisplayNeutralsSpawnAreaHotkey = 0x12
DisplayTowerRangeHotkey = 0x12

#Disables AltQ, AltS, AltH etc hotkeys from opening ingame menus
DisableDefaultAltHotkeys = false

#Or you can chose which to disable
DisableAltS = false
DisableAltL = false
DisableAltH = false
DisableAltO = false
DisableAltQ = false
DisableAltG = false
DisableAltT = false
DisableAltA = false
DisableAltR = false
DisableAltF = false
DisableAllDefaultHotkeys=false
SelectYourHero=

[GAMEOPTIONS]
MaxFPS = 64
AutoFPSLimit = false
DisplayFPSCounter = false
LockMouseAtWindow = false
AutoselectHero = true
DotA2HPBars = false
DisplayManabars = true
WideScreen = false
TeleportationCanOnlyBeStoppedSoft = true
TeleportationCanOnlyBeStopped = false
AutoselectSummonedUnitsRadius = 2500
CloseWC3EveryGame = false
DoubleClickHelperEnabled = false
AutoattackEnabled = true
AutoattackDisabledByStopOnly = false
#Only works if autoattack disabled (false)
SmartAttackEnabled = false
RightClickDeny = false
SelectionHelperEnabled = true
PersonalLatency = 100
BlinkAutoShifting=false
IAmShy=false
IDontWantToVisitSite=false
KeepLegacyCourierButtonsLayout=false

[HEROOPTIONS]
Juggernaut_HealingWardDoNotFollow = false

[VISUALS]
Weather = 
FogDensity = 192
AlwaysDisplayRangeMarkers = false
AlwaysDisplayHPRegen = false
SameSelectionCircleForEveryone = false
AdvancedTooltips = true
DisplayRegeneration = true
CustomFPSInfo = true
ChatMessageDuration = 10.0
EscClearsChat = true
EscClearsPlayersChat = true
GoodMinimap = true
ProperColorsForCreeps = false
AlliesAlwaysGreen = false
BetterFPS = false
BetterFPS2 = false
BetterFPS3 = false
DisableDefaultSpace = false
DisableDefaultMouseWheel = false
DisableDefaultTilde = false
ShowTipsWhileDead = true
ShowItemsInMultiboard = false
UseAdvancedHUD = false
DisableAltTogglingHPBars = true
WaterColor = 
IgnoreAllChat = false
HideHeroNames = false
RepeatGameMessagesIntoChatLog = false
AlwaysShowCourierButton = false
HideMinimapSignals = false
ColorblindMode = false
AdvancedStatsIconDisabled = true
CameraHeight = 
SmoothFogReveal = true
ClassicIngameTime = true
HealingDisplaysAmount = false
DisplayAllyGoldOnSelection=false

[QUICKCHAT]

#By pressing the hotkey text will be send into the chat
QuickChatText1 = 
QuickChatHotkey1 = 
QuickChatText2 = 
QuickChatHotkey2 = 
QuickChatText3 = 
QuickChatHotkey3 = 
QuickChatText4 = 
QuickChatHotkey4 = 
QuickChatText5 = 
QuickChatHotkey5 = 
QuickChatText6 = 
QuickChatHotkey6 = 
QuickChatText7 = 
QuickChatHotkey7 = 
QuickChatText8 = 
QuickChatHotkey8 = 
QuickChatText9 = 
QuickChatHotkey9 = 
QuickChatText10 = 
QuickChatHotkey10 = 

[ONSTART]
StartChatString1 = 
StartChatString2 = 
StartChatString3 = 
StartChatString4 = 
StartChatString5 = 
StartChatString6 = 
StartChatString7 = 
StartChatString8 = 
StartChatString9 = 
StartChatString10 = 
StartChatString11 = 
StartChatString12 = 
StartChatString13 = 
StartChatString14 = 
StartChatString15 = 
StartChatString16 = 
StartChatString17 = 
StartChatString18 = 
StartChatString19 = 
StartChatString20 = 
StartChatString21 = 

[DEBUG]
DisableTexttags = false
StatsSent=true
[HEROSETS]
DisableMySexyAnnouncer=false
DisabledHeroSkins=0
