# 📄 Dosya Yolu: /NopCommerce/current/installer/config/database/mysql-docker.secret.env.example
# 📌 Amac: Docker MySQL provisioning icin secret parola ornegi vermek
# 📌 Modul - Env
# Version: 1.0.0
# Aciklama: Gercek parolalar repo disinda tutulmali ve dosya chmod 600 olmali
# Bagimli Oldugu Katman: Repo | Tool

NOP_DB_PASSWORD='CHANGE_ME_APP_PASSWORD'
NOP_DB_ROOT_PASSWORD='CHANGE_ME_ROOT_PASSWORD'
